@CHARSET "UTF-8";

/* ***************************************************************************
 * Layout & General Styling
 * ***************************************************************************
 */
body {
  padding-top: 70px;
}

/* ***************************************************************************
 * Bootstrap fine-tuning
 * ***************************************************************************
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.no-wrap
{
	white-space: nowrap;
}
a.list-group-item, a.list-group-item:hover {
  color: #333;
}
.list-group-item-subtitle {
	margin: 0;
}
a.list-group-item-warning  {
	color: #FFF;
	background-color: #f0ad4e;
}
a.list-group-item-warning:hover {
	color: #FFF;
	background-color: #ec971f;
}
.btn-toolbar {
	margin-bottom: 20px;
}
dd {
	margin-bottom: 15px;
}
.panel-heading dd, .panel-heading dl, .panel-heading dt {
	margin-bottom: 0;
	text-align: left;
}
.panel-heading dt {
	width: 60px;
}
.panel-heading dd {
	margin-left: 80px;
}
.pagination {
	margin: 0;
}
.pagination>li>a, .pagination>li>a:hover {
	color: #221e1f;
}
.pagination>.active>span {
	background: #f0ad4e;
	border-color: #eea236;
}
.pagination>.active>span:hover
{
	background: #ec971f;
	border-color: #d58512;
}

/* ***************************************************************************
 * T4K Styles
 * ***************************************************************************
 */
.text-t4k, a {
	color: #f0ad4e;
}
.text-t4k:hover, .text-t4k:focus, .text-t4k:active, a:hover, a:focus, a:active {
	color: #ec971f;
}
.label-t4k, .label-t4k a, .btn-t4k, .btn-t4k a {
	background: #F7ED15;
	color: #221e1f;
	border-color: #E0D612;
}
.btn-t4k:hover, .btn-t4k:focus, .btn-t4k:active, .btn-t4k.active {
	background: #F7DA15;
	border-color: #E0D612;
	color: #221e1f;
}
.btn-noborder:hover, .btn-noborder:focus, .btn-noborder:active, .btn-noborder.active, .open .dropdown-toggle.btn-noborder {
	border: none;
}
.btn-noborder {
	border: none;
	background: none;
}
.panel-tabs {
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.active-warning, .active-warning>a {
	background: #ec971f !important;
	border-color: #ec971f !important;
}

/* ***************************************************************************
 * Module Horaire
 * ***************************************************************************
 */
@font-face {
	font-family: 'digi';
	src: url('../fonts/DSDIGI.TTF');
	src: url('../fonts/DSDIGI.eot');
    src: local("DS-Digital"), url('../fonts/DSDIGI.woff') format("woff"), url('../fonts/DSDIGI.ttf') format("truetype");
}
.clock {
	font-family: 'digi';
	background: white;
	font-size: 1.75em;
	color: #707070;
	text-align: center;
	border: 1px solid #d6d6d6;
	padding: 5px;
	margin:0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: linear-gradient(#f0f0f0, white);
}
.clock-small {
	font-size: 1.1em;
	padding: 0;
	margin: 0;
}